{% extends 'tender/base.html' %}
{% load my_tags %}
{% block content %}
    <h2>Товары в заявке номер {{ order.id }}</h2>
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}  <!-- Скрытая форма управления для formset -->
    {% for form, product in formset.forms|zip_lists:order_products %}
        <div class="form-row">
            <label>Продукт: {{ product }}</label>  <!-- Здесь выводим название продукта -->
            {{ form.order_product }}  <!-- Это скрытое поле, если необходимо -->

            <div>
                {{ form.price.label }} {{ form.price }}  <!-- Поле цены -->
            </div>
            <div>
                {{ form.delivery_time.label }} {{ form.delivery_time }}  <!-- Поле времени доставки -->
            </div>
        </div>
    {% endfor %}
    <button type="submit">Отправить</button>
</form>





{% endblock %}