{% extends 'tender/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<main class="container my-5">
    <h3 class="mb-4">Заявки для поставщиков</h3>
    <form method="get" class="row g-2 align-items-center mb-3">
    <div class="col-auto">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Искать</button>
    </div>

    </form>
    <div class="list-group">
        {% for order_product in order_products %}
            <a
                href="{% url 'tender:order_product_detail' pk=order_product.id %}"
                class="list-group-item list-group-item-action"
            >
                <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-lg-between py-2 border-bottom">
                    <div class="text-start">
                    <h5 class="mb-1 fw-bold">{{ order_product.order }}</h5>
                    <small class="text-muted">
                        {% if order_product.order.description %}
                            {{ order_product.order.description }}
                        {% else %}
                            Описание отсутствует
                        {% endif %}
                    </small>
                </div>
                <div class="text-lg-end mt-2 mt-lg-0">
                    <h5 class="mb-0 text-primary">
                        {% if order_product.order.number_ERP %}
                            {{ order_product.order.number_ERP }}
                        {% else %}
                            Номер заказа из ERP отсутствует
                        {% endif %}
                    </h5>
                </div>
                </div>
                <div>Срок действия заявки: {{ order_product.order.duration|date:"d.m.Y" }}</div>
                {% if order_product.order.is_active %}
                	<div>Заявка актуальна</div>
                {% else %}
                    <div>Заявка не актуальна</div>
                {% endif %}
            </a>
        {% empty %}
            <div class="alert alert-warning" role="alert">
                Заявки отсутствуют.
            </div>
        {% endfor %}
    </div>
</main>

{% endblock %}