{% extends 'tender/base.html' %}
{% block content %}
    <h2>Все заявки</h2>
    <div>
        <ul>
            {% for order in orders %}
                <a href="{% url 'tender:order_detail' order.id %}">Заявка {{ order.id }}</a>
                <br>
            {% endfor %}
        </ul>
        <form method="post" action="{% url 'tender:order_create' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-success">Создать заказ</button>
        </form>
        <a href="{% url 'tender:create_product' %}">Создать товар</a>
    </div>
{% endblock %}