{% extends 'tender/base.html' %}
{% block content %}
<h2>Список товаров</h2>

    <table>
        <thead>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="number" name="amounts" min="1" required>
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit">Добавить в заказ</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="{% url 'tender:order_detail' order_pk %}">Вернуться к заказу</a>
{% endblock %}