{% extends 'tender/base.html' %}
{% block content %}
<div class="container my-4">
    <h1 class="mb-4">Обновите ответ на Заявку №{{ order.id }}</h1>

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Поставщик</th>
                    <th>Продукт</th>
                    <th>Цена</th>
                    <th>Срок поставки</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr>
                    <td>{{ form.instance.supplier }}</td>
                    <td>
                        <strong>{{ form.instance.order_product.product.name }}</strong><br>
                        Артикул: {{ form.instance.order_product.product.article }}<br>
                        Количество: {{ form.instance.order_product.amounts }}
                        {{ form.order_product }}
                        {{ form.id }}
                    </td>
                    <td>
                        {{ form.price }}
                    </td>
                    <td>
                        {{ form.delivery_time }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary mt-3">Сохранить изменения</button>
    </form>
</div>
{% endblock %}
