{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="">
    <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom py-4" data-bs-theme="dark">
    <img class="position-absolute top-5 start-0 m-3" src="{% static "images/chzmek.ru.svg" %}" alt="Здесь должно быть лого">

      <div class="container">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
          <div class="offcanvas-body">
            <ul class="navbar-nav flex-grow-1 justify-content-end">
              <li class="nav-item"><a class="nav-link" href="#">Регистрация</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Вход</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <main>
          <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
            <div class="col-md-6 p-lg-5 mx-auto my-5">
              <h1 class="display-3 fw-bold">Designed for engineers</h1>
              <h3 class="fw-normal text-muted mb-3">Build anything you want with Aperture</h3>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
          </div>
    </main>
    <script src="{% static "js/bootstrap.bundle.js" %}"></script>
</body>
</html>