{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHZMEK TENDER</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="d-flex h-100 text-center text-bg-dark">
    <img class="position-absolute top-0 start-0 m-3" src="{% static "images/chzmek.ru.svg" %}" alt="Здесь должно быть лого">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-1 active" aria-current="page" href="{% url 'users:main' %}">Home</a>
            <a class="nav-link fw-bold py-1 px-1" href="{% url 'users:register' %}"> Регистрация</a>
            <a class="nav-link fw-bold py-1 px-1" href="{% url 'users:login' %}"> Авторизация</a>
          </nav>
        </div>
      </header>

    <main class="form-signin w-100 m-auto d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

            <div class="form-floating">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Зарегистрироваться</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
          </form>
    </main>
    <script src="{% static "js/bootstrap.bundle.js" %}"></script>
</body>
</html>